{
    "extends": [
        "eslint:recommended",
        "plugin:vue/essential"
    ],
    "env": {
        "commonjs": true,
        "es6": true,
        "shared-node-browser": true
    },
    "rules": {
        "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }]
    }
}
