<?xml version="1.0"?>
<psalm name="Psalm config for Victron Press">
    <projectFiles>
        <directory name="backend/src" />
        <directory name="backend/test" />
        <directory name="backend/web" />
    </projectFiles>
    <issueHandlers>
        <!-- The used GitHub client has dynamically accessed interfaces -->
        <UndefinedInterfaceMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Github\Api\ApiInterface::contents" />
                <referencedMethod name="Github\Api\ApiInterface::commits" />
                <referencedMethod name="Github\Api\ApiInterface::references" />
                <referencedMethod name="Github\Api\ApiInterface::merge" />
            </errorLevel>
        </UndefinedInterfaceMethod>
        <!-- Tests can have redundant conditions -->
        <RedundantCondition>
            <errorLevel type="suppress">
                <directory name="backend/test" />
            </errorLevel>
        </RedundantCondition>
        <!-- PHPUnit's base classes contain unset properties. We won't set these either -->
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="backend/test" />
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
