

body {counter-reset: h1}
h1 {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

.page:not(.edit-mode) h1:before {counter-increment: h1; content: counter(h1) ". "}
.page:not(.edit-mode) h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) ". "}
.page:not(.edit-mode) h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) ". "}
.page:not(.edit-mode) h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "}
.page:not(.edit-mode) h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
.page:not(.edit-mode) h6:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

.page:not(.edit-mode) h2.nocount:before,
.page:not(.edit-mode) h3.nocount:before,
.page:not(.edit-mode) h4.nocount:before,
.page:not(.edit-mode) h5.nocount:before,
.page:not(.edit-mode) h6.nocount:before { 
  content: "";
  counter-increment: none 
} 

