.theme-container:not(.no-heading-numbers)
  .page
    h1
      counter-reset page-h2
    h2
      counter-reset page-h3
      &:before
        counter-increment page-h2
        content counter(page-h2) ". "
    h3
      counter-reset page-h4
      &:before
        counter-increment page-h3
        content counter(page-h2) "." counter(page-h3) ". "
    h4
      counter-reset page-h5
      &:before
        counter-increment page-h4
        content counter(page-h2) "." counter(page-h3) "." counter(page-h4) ". "
    h5
      counter-reset page-h6
      &:before
        counter-increment page-h5
        content counter(page-h2) "." counter(page-h3) "." counter(page-h4) "." counter(page-h5) ". "
    h6:before
      counter-increment page-vh6
      content counter(page-h2) "." counter(page-h3) "." counter(page-h4) "." counter(page-h5) "." counter(page-h6) ". "

  .sidebar-group-items > li
      counter-increment sidebar-h2
      & > a:before
        content counter(sidebar-h2) ". "
      &> ul > li
        counter-increment sidebar-h3
        & > a:before
          content counter(sidebar-h2) "." counter(sidebar-h3) ". "
