<IfModule rewrite_module>
    RewriteEngine On

    # Prevent mod_dir implicitly appending a slash on directories,
    # because it uses a 301 permanent redirect which we don't want
    <IfModule dir_module>
        DirectorySlash Off
    </IfModule>

    # And if DirectorySlash is off, we need to explicitly allow
    # mod_rewrite to function when there is no trailing slash
    RewriteOptions AllowNoSlash

    # Add trailing slashes for directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteCond %{REQUEST_URI} (.*[^/])$
    RewriteRule ^ %1/ [L,R=302]

    # Remove trailing slashes for non-directories
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=302]

    # Handle directory indexes and non-existing files
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule headers_module>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "sameorigin"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
